# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore virtual envs
venv/
env/

# Ignore static & media (in dev; mount in prod)
staticfiles/
media/

# Ignore local DB
*.sqlite3

# Ignore version control
.git
.gitignore

# Ignore editor/project files
*.log
*.swp
*.swo
.vscode/
.idea/

# Ignore OS junk
.DS_Store
Thumbs.db
